<header ng-switch on="$location.path().indexOf('/Files/new') > -1">
    <h3 ng-switch-when="true">Create a new File</h3>
    <h3 ng-switch-when="false">View or edit File</h3>
</header>
<form id="FileForm" name="FileForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': FileForm.source.$invalid}">
        <label for="source" class="col-sm-2 control-label">Source</label>
        <div id="sourceControls" class="col-sm-10">
            <input id="source" name="source" type="text" class="form-control" ng-model="file.source" placeholder="Enter the File Source"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': FileForm.station.$invalid}">
        <label for="station" class="col-sm-2 control-label">Station</label>
        <div id="stationControls" class="col-sm-10">
            <input id="station" name="station" type="text" class="form-control" ng-model="file.station" placeholder="Enter the File Station"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': FileForm.lastUpdate.$invalid}">
        <label for="lastUpdate" class="col-sm-2 control-label">Last Update</label>
        <div id="lastUpdateControls" class="col-sm-10">
            <datetime id="lastUpdate" name="lastUpdate" ng-model="file.lastUpdate" placeholder="Enter the File Last Update"></datetime>
            <span class="help-block error" ng-show="FileForm.lastUpdate.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': FileForm.lastRowDate.$invalid}">
        <label for="lastRowDate" class="col-sm-2 control-label">Last Row Date</label>
        <div id="lastRowDateControls" class="col-sm-10">
            <datetime id="lastRowDate" name="lastRowDate" ng-model="file.lastRowDate" placeholder="Enter the File Last Row Date"></datetime>
            <span class="help-block error" ng-show="FileForm.lastRowDate.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveFile" name="saveFile" class="btn btn-primary" ng-disabled="isClean() || FileForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteFile" name="deleteFile" class="btn btn-danger" ng-show="file.fileName" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>