<div class="form-horizontal">
    <h3>Create a new File</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Files/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Files</h3>
    <form id="FileSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="source" class="col-sm-2 control-label">Source</label>
        <div class="col-sm-10">
            <input id="source" name="source" class="form-control" type="text" ng-model="search.source" placeholder="Enter the File Source"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="station" class="col-sm-2 control-label">Station</label>
        <div class="col-sm-10">
            <input id="station" name="station" class="form-control" type="text" ng-model="search.station" placeholder="Enter the File Station"></input>
        </div>
    </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Station</th>
                    <th>Last Update</th>
                    <th>Last Row Date</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Files/edit/{{result.fileName}}">{{result.source}}</a></td>
                    <td><a href="#/Files/edit/{{result.fileName}}">{{result.station}}</a></td>
                    <td><a href="#/Files/edit/{{result.fileName}}">{{result.lastUpdate| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Files/edit/{{result.fileName}}">{{result.lastRowDate| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>