<div class="form-horizontal">
    <h3>Create a new Station</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Stations/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Stations</h3>
    <form id="StationSearch" class="form-horizontal">
        
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Station Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <input id="country" name="country" class="form-control" type="text" ng-model="search.country" placeholder="Enter the Station Country"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="fileName" class="col-sm-2 control-label">File Name</label>
        <div class="col-sm-10">
            <input id="fileName" name="fileName" class="form-control" type="text" ng-model="search.fileName" placeholder="Enter the Station File Name"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="latitude" class="col-sm-2 control-label">Latitude</label>
        <div class="col-sm-10">
            <input id="latitude" name="latitude" class="form-control" type="text" ng-model="search.latitude" placeholder="Enter the Station Latitude"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="longitude" class="col-sm-2 control-label">Longitude</label>
        <div class="col-sm-10">
            <input id="longitude" name="longitude" class="form-control" type="text" ng-model="search.longitude" placeholder="Enter the Station Longitude"></input>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>File Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Stations/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/Stations/edit/{{result.id}}">{{result.country}}</a></td>
                    <td><a href="#/Stations/edit/{{result.id}}">{{result.fileName}}</a></td>
                    <td><a href="#/Stations/edit/{{result.id}}">{{result.latitude}}</a></td>
                    <td><a href="#/Stations/edit/{{result.id}}">{{result.longitude}}</a></td>
                    <td><a href="#/Stations/edit/{{result.id}}">{{result.lastUpdate| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>