<div class="form-horizontal">
    <h3>Database control</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="UpdateDB" name="UpdateDB" class="btn btn-primary" ng-click="updateDb()"><span class="glyphicon glyphicon-refresh"></span> Update database</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="CleanDB" name="CleanDB" class="btn btn-primary" ng-click="cleanDb()"><span class="glyphicon glyphicon-trash"></span> Clean database</a>
        </div>
    </div>
</div>