<div class="form-horizontal">
    <h3>Create a new Measurement</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Measurements/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Measurements</h3>
    <form id="MeasurementSearch" class="form-horizontal">
        
	<div class="form-group">
        <label for="station" class="col-sm-2 control-label">Station</label>
        <div class="col-sm-10">
            <select id="station" name="station" class="form-control" ng-model="search.station" ng-options="s as s.id for s in stationList">
                <option value="">Choose a Station</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label for="phenomenonType" class="col-sm-2 control-label">Phenomenon Type</label>
        <div class="col-sm-10">
            <select id="phenomenonType" name="phenomenonType" class="form-control" ng-model="search.phenomenonType" ng-options="p as p.id for p in phenomenonTypeList">
                <option value="">Choose a Phenomenon Type</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="value" class="col-sm-2 control-label">Value</label>
        <div class="col-sm-10">
            <input id="value" name="value" class="form-control" type="text" ng-model="search.value" placeholder="Enter the Measurement Value"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                	<th>Date and Time</th>
                    <th>Station</th>
                    <th>Phenomenon</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                	<td><a href="#/Measurements/edit/{{result.stationId}}/{{result.phenomenonTypeId}}/{{result.dateTime}}">{{result.dateTime| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/Measurements/edit/{{result.stationId}}/{{result.phenomenonTypeId}}/{{result.dateTime}}">{{result.stationId}}</a></td>
                    <td><a href="#/Measurements/edit/{{result.stationId}}/{{result.phenomenonTypeId}}/{{result.dateTime}}">{{result.phenomenonTypeId}}</a></td>
                    <td><a href="#/Measurements/edit/{{result.stationId}}/{{result.phenomenonTypeId}}/{{result.dateTime}}">{{result.value}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>