<uib-accordion close-others="false">
	<uib-accordion-group class="panel panel-info" is-open="panels.open3">
      <uib-accordion-heading> Globe <i 
         class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': panels.open3, 'glyphicon-chevron-right': !panels.open3}"></i></uib-accordion-heading>
      <div cesium-directive id="cesium1" class="cesiumContainer" style="height: 400px;"
         station-list="stationList" search-stations="search.stations" search-date="search.date.endDate" station-data="searchResults" on-double-click="onDoubleClick(entity)" on-click-with-ctrl="onClickWithCtrl(entity)" get-phenomenon-by-id="getPhenomenonById(id)" ></div>
   </uib-accordion-group>
   
   
   <uib-accordion-group
      class="panel panel-info" is-open="panels.open1">
      <uib-accordion-heading> Filter <i
         class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': panels.open1, 'glyphicon-chevron-right': !panels.open1}"></i></uib-accordion-heading>
      <div class="panel-body">
         <h3>Search for data</h3>
         <form id="MeasureSearch" class="form-horizontal">
            <div class="form-group">
               <label for="station" class="col-md-3 control-label">Station</label>
               <div class="col-md-9">
                  <ui-select id="station" multiple ng-model="search.stations" theme="bootstrap" ng-disabled="disabled" on-select="stationSelectionChanged($item, $model)">
                     <ui-select-match placeholder="Select stations...">{{$item.name}}, {{$item.country}}</ui-select-match>
                     <ui-select-choices repeat="station.id as station in stationList | selectPropsFilter: {name: $select.search, country: $select.search}">
                        <div ng-bind-html="station.name | highlight: $select.search"></div>
                        <small>
                        Country: <span ng-bind-html="station.country | highlight: $select.search"></span>
                        </small>
                     </ui-select-choices>
                  </ui-select>
               </div>
            </div>
            <div class="form-group">
               <label for="datePicker" class="col-md-3 control-label">Time Span</label>
               <div class="col-md-9">
                  <input id="datePicker" date-range-picker class="form-control date-picker" type="text" ng-model="search.date" options="datePicker.opts" />
               </div>
            </div>
            <div class="form-group">
	            <label for="phenomenonTypes" class="col-xs-4 col-md-3 control-label">Phenomenons</label>
	            <div id="phenomenonTypes" class="col-xs-12 col-md-9">
		           <label ng-repeat="phenomenon in phenomenonTypeList" class="checkbox col-xs-4" for="checkbox_{{phenomenon.id}}">
					  <input type="checkbox" id="checkbox_{{phenomenon.id}}" ng-model="search.phenomenonTypes[phenomenon.id]"> {{phenomenon.name}}
				   </label>
	            </div>
            </div>
            <!--
            <pre ng-bind="search | json"></pre>
            <pre ng-bind="searchResults | json"></pre>  -->   
            <div class="form-group">
               <div class="col-md-offset-2 col-sm-10">
                  <a id="Search" name="Search" class="btn btn-primary"
                     ng-click="performSearch()"><span
                     class="glyphicon glyphicon-search"></span> Search</a>
               </div>
            </div>
         </form>
      </div>
   </uib-accordion-group>
   
   
   <uib-accordion-group class="panel panel-info" is-open="panels.open2">
      <uib-accordion-heading>
         Chart 
         <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': panels.open2, 'glyphicon-chevron-right': !panels.open2}"></i> 
      </uib-accordion-heading>
      <ul ui-sortable ng-model="searchResults">
      	<div chart-directive ng-repeat="data in searchResults" data="data" station-list="stationList" phenomenon="getPhenomenonById(data.phenomenonTypeId)">
      	</div>
      </ul>
   </uib-accordion-group>
</uib-accordion>

<!-- formated by http://www.freeformatter.com/html-formatter.html -->