<header ng-switch on="$location.path().indexOf('/FileUpdates/new') > -1">
    <h3 ng-switch-when="true">Create a new FileUpdate</h3>
    <h3 ng-switch-when="false">View or edit FileUpdate</h3>
</header>
<form id="FileUpdateForm" name="FileUpdateForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': FileUpdateForm.lastUpdate.$invalid}">
        <label for="lastUpdate" class="col-sm-2 control-label">Last Update</label>
        <div id="lastUpdateControls" class="col-sm-10">
            <datetime id="lastUpdate" name="lastUpdate" ng-model="fileUpdate.lastUpdate" placeholder="Enter the FileUpdate Last Update"></datetime>
            <span class="help-block error" ng-show="FileUpdateForm.lastUpdate.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': FileUpdateForm.lastRowDate.$invalid}">
        <label for="lastRowDate" class="col-sm-2 control-label">Last Row Date</label>
        <div id="lastRowDateControls" class="col-sm-10">
            <datetime id="lastRowDate" name="lastRowDate" ng-model="fileUpdate.lastRowDate" placeholder="Enter the FileUpdate Last Row Date"></datetime>
            <span class="help-block error" ng-show="FileUpdateForm.lastRowDate.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveFileUpdate" name="saveFileUpdate" class="btn btn-primary" ng-disabled="isClean() || FileUpdateForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteFileUpdate" name="deleteFileUpdate" class="btn btn-danger" ng-show="fileUpdate.sourceId" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>